<a href="https://colab.research.google.com/github/GitTeaching/TP-NLP-using-Python/blob/master/S%C3%A9rie_TP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# déclaration de codage des caractère, utiliser souvent UTF-8, pour prendre en charge toutes les langues.
print ("Salam Alykom")

Salam Alykom

In [ ]:
# lire entrée utilisateur
input1 = input()
print("User input is : ", input1)

Master 1 ISIL
User input is :  Master 1 ISIL

In [ ]:
# Déclaration des variables
# pas de déclaration explicite
# il suffit d'affecter une valeur pour spécifier le type d'une variable

age = 125 # entier
print("type de age", type(age))

salaire = 3.14
print("type de salaire", type(salaire))

name = "Ahmed"
print("type de name", type(name))

type de age <class 'int'>
type de salaire <class 'float'>
type de name <class 'str'>

In [ ]:
#substitution
s2 = "I am %s" %name
s3 = "I am %d old" %age
print (s2, s3)

I am Ahmed I am 125 old

In [ ]:
# listes
liste = [1,2,31,4]
print ("type de ls", type(liste))
print (liste)

type de ls <class 'list'>
[1, 2, 31, 4]

In [ ]:
# ajouter in element
liste.append(5)
print (liste)

[1, 2, 31, 4, 5]

In [ ]:
# liste de mots
wordlist = ["I", "am", "learning", "english"]
print (wordlist)

['I', 'am', 'learning', 'english']

In [ ]:
# les dictionnaires
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict.keys())
print(thisdict.values())
print(thisdict["brand"])
for x, y in thisdict.items():
  print(x, y)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
Ford
brand Ford
model Mustang
year 1964

In [ ]:
# structure de controle
a = 15
if a > 15:  
    #attention aux tabulations
    print ('a supérieur à 15')
elif a <= 15 and a >= 10:
    print ('a entre 10 et 15')
else:
    print ('a est intfieur à 10')

a entre 10 et 15

In [ ]:
# tester si un element appartient à une liste
a = 5
if a in liste:
    print ("a existe dans la liste")

a existe dans la liste

In [ ]:
# les boucles
for word in wordlist:
    print (word)

I
am
learning
english

In [ ]:
# boucle et tests
# calculer le nombre d'occurence d'un caractère dans une chaine de caractère
chaine = "Le TAL est l’ensemble des méthodes et des programmes qui permettent"
caractere= "e"
cpt = 0
for c in chaine:
    if c == caractere:
        cpt += 1
print("le caractère %s existe %d fois"%(caractere, cpt))

le caractère e existe 13 fois